In [1]:
import os
import pandas as pd 
import numpy as np
print('Working directory:',os.getcwd())

np.random.seed(42)

# Ensure data folder exists
os.makedirs(r'C:\Users\USER\Desktop\mch_county_dashboard\data', exist_ok=True)

print('Environment ready')

Working directory: C:\Users\USER\Desktop\mch_county_dashboard\notebooks
Environment ready

In [3]:
counties = [
    'Mombasa','Kwale', 'Kilifi','Lamu','Tana River','Taita Taveta','Garissa',
    'Wajir','Mandera','Marsabit','Isiolo','Meru','Tharaka Nithi','Embu','Kitui',
    'Machakos','Makueni','Nyandarua','Nyeri','Kirinyaga','Muranga','Kiambu',
    'Turkana','West Pokot','Samburu','Trans Nzoia','Uasin Gishu','Elgeyo Marakwet',
    'Nandi','Baringo','Laikipia','Nakuru','Narok','Kajiado','Kericho','Bomet',
    'Kakamega','Vihiga','Bungoma','Busia','Siaya','Kisumu','Homabay','Migori',
    'Kisii','Nyamira','Nairobi'    
]
len(counties)

47

In [6]:
np.random.seed(42)  # reproducibility

data = {
    'county':counties,
    'skilled_birth_attendance_pct':np.random.randint(40,95, size = 47),
    'antenatal_4_visits_pct':np.random.randint(35,90, size = 47),
    'facility_delivery_pct':np.random.randint(45,95, size = 47),
    'postnatal_care_48_hours':np.random.randint(30,85, size = 47),
    'under_5_mortality_rate':np.random.randint(20,90, size = 47),  #per 1,000
    'maternal_mortality_ratio':np.random.randint(200,800, size = 47) #per 100,000
}
df_mch = pd.DataFrame(data)
df_mch.head()

,county,skilled_birth_attendance_pct,antenatal_4_visits_pct,facility_delivery_pct,postnatal_care_48_hours,under_5_mortality_rate,maternal_mortality_ratio
0,Mombasa,78,55,65,56,25,479
1,Kwale,91,43,60,64,47,397
2,Kilifi,68,73,89,30,47,710
3,Lamu,54,52,62,64,63,343
4,Tana River,82,38,91,66,49,400

In [7]:
df_mch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   county                        47 non-null     object
 1   skilled_birth_attendance_pct  47 non-null     int32
 2   antenatal_4_visits_pct        47 non-null     int32
 3   facility_delivery_pct         47 non-null     int32
 4   postnatal_care_48_hours       47 non-null     int32
 5   under_5_mortality_rate        47 non-null     int32
 6   maternal_mortality_ratio      47 non-null     int32
dtypes: int32(6), object(1)
memory usage: 1.6+ KB

In [8]:
output_path = r'C:\Users\USER\Desktop\mch_county_dashboard\data\raw\mch_county_data.csv'
df_mch.to_csv (output_path, index = False)

print('Dataset saved to:', output_path)

Dataset saved to: C:\Users\USER\Desktop\mch_county_dashboard\data\raw\mch_county_data.csv

In [9]:
print(os.listdir(r'C:\Users\USER\Desktop\mch_county_dashboard\data\raw'))

['mch_county_data.csv']