In [5]:
# import and load raw data
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

df = pd.read_csv(r'C:\Users\USER\Desktop\mch_county_dashboard\data\raw\mch_county_data.csv')

numeric_cols = df.columns.drop('county')
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col],errors='coerce')

df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

print('Shape:', df.shape)
df.head()

Shape: (47, 7)

,county,skilled_birth_attendance_pct,antenatal_4_visits_pct,facility_delivery_pct,postnatal_care_48_hours,under_5_mortality_rate,maternal_mortality_ratio
0,Mombasa,78,55,65,56,25,479
1,Kwale,91,43,60,64,47,397
2,Kilifi,68,73,89,30,47,710
3,Lamu,54,52,62,64,63,343
4,Tana River,82,38,91,66,49,400

In [6]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   county                        47 non-null     object
 1   skilled_birth_attendance_pct  47 non-null     int64
 2   antenatal_4_visits_pct        47 non-null     int64
 3   facility_delivery_pct         47 non-null     int64
 4   postnatal_care_48_hours       47 non-null     int64
 5   under_5_mortality_rate        47 non-null     int64
 6   maternal_mortality_ratio      47 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.7+ KB

,skilled_birth_attendance_pct,antenatal_4_visits_pct,facility_delivery_pct,postnatal_care_48_hours,under_5_mortality_rate,maternal_mortality_ratio
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,68.489362,59.936170,69.744681,57.446809,55.340426,475.872340
std,16.036470,16.475811,14.050326,16.017393,22.647849,158.935948
min,41.000000,36.000000,45.000000,30.000000,20.000000,201.000000
25%,56.500000,46.000000,57.500000,43.500000,37.000000,346.500000
50%,67.000000,59.000000,69.000000,59.000000,57.000000,453.000000
75%,82.500000,74.000000,82.000000,69.500000,75.000000,608.500000
max,94.000000,88.000000,92.000000,84.000000,89.000000,786.000000

In [7]:
df.isna().sum()

county                          0
skilled_birth_attendance_pct    0
antenatal_4_visits_pct          0
facility_delivery_pct           0
postnatal_care_48_hours         0
under_5_mortality_rate          0
maternal_mortality_ratio        0
dtype: int64

In [8]:
# Creating maternal risk categories

df['maternal_risk_level'] = pd.cut(
    df['maternal_mortality_ratio'],
    bins =[0,300,500,1000],
    labels = ['Low','Medium','High']
) 
print('maternal risk categories created successfully')

maternal risk categories created successfully

In [9]:
# Under 5 mortality risk
df['under5_risk_level'] = pd.cut(
    df['under_5_mortality_rate'],
    bins=[0,40,70,150],
    labels=['Low','Medium','High']
)
print('under 5 mortality risk created successfully')

under 5 mortality risk created successfully

In [10]:
# Saving processed dataset

output_path = r'C:\Users\USER\Desktop\mch_county_dashboard\data\processed\mch_county_cleaned.csv'
df.to_csv(output_path, index=False)

print('Processed dataset saved to:',output_path)

Processed dataset saved to: C:\Users\USER\Desktop\mch_county_dashboard\data\processed\mch_county_cleaned.csv